@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Light'), local('Noto Sans Light'), local('Noto Sans Light');
  src: url(/fonts/notosanscjk-tc-light-subset.otf) format('truetype'),
       url(/fonts/notosanscjk-tc-light-subset.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Regular'), local('Noto Sans Regular'), local('Noto Sans Regular');
  src: url(/fonts/notosanscjk-tc-regular-subset.otf) format('truetype'),
       url(/fonts/notosanscjk-tc-regular-subset.woff) format('woff');
}


